@import "tailwindcss";

html{
  background-color: rgb(0, 0, 0);
  position: relative;
  color: rgb(184, 184, 184);
}


.bg-panel {background-color: rgb(0, 0, 0);position: relative;}

.bg-panel::before{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background: repeating-linear-gradient(transparent,transparent 1.55px, rgba(0, 255, 0, 0.05) 1px, rgba(0, 255, 0, 0.05) 2px);
  content: '';
  pointer-events: none;
}

.border-gray{border-color: #333;}